<!DOCTYPE html>
<html th:fragment="html" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
 lang="en">
    <head>
        <meta charset="UTF-8">
        <title>WebSocket Test</title>
        <script type="text/javascript">
            var ws;
            function connect(){
                ws = new WebSocket('ws://localhost:9000/ws')
                ws.onmessage = function(data){
                    document.getElementById('messages').innerHTML += '<br>' + data.data;
                    if (data.data.startsWith("Counter: ")){
                        document.getElementById('counter').innerText = data.data;
                    }
                }
            }
            function sendMessage(){
                if (!ws || ws.readyState !== WebSocket.OPEN){
                    alert('You must connect first!');
                    return;
                }
                var message = document.getElementById('message').value;
                ws.send(message);
            }
            function incrementCounter(){
                if (!ws || ws.readyState !== WebSocket.OPEN){
                    alert('You must connect first!');
                    return;
                }
                ws.send("increment");
            }
            window.onload = function(){
                connect();
            }
        </script>
    </head>
    <body>
        <div>
            <h1>WebSocket Test</h1>
            <div class="d-flex" sec:authorize="isAnonymous()">
                <p>
                    Logged in as: <span th:text="${#authentication.name}">Anonymous</span>
                </p>
            </div>
            <div class="d-flex" sec:authorize="isAuthenticated()">
                <p>
                    Logged in as: <span th:text="${#authentication.name}">Anonymous</span>
                </p>
            </div>
            <br>
            <input type="text" id="message">
            <button onclick="sendMessage()">Send</button>
            <button onclick="incrementCounter()">Increment Counter</button>
            <div id="counter">Counter: 0</div>
            <div id="messages"></div>
        </div>

    </body>
</html>